<h1>Welcome to the Ruby Music Site</h1>

<ul>
  <li><a href="artists/index.html"><%= Artist.all.size %></a></li>
  <li><a href="genres/index.html"><%= Genre.all.size %></a></li>
  <li><a href="songs/index.html"><%= Song.all.size %></a></li>
</ul>
