<h1>Genres</h1>

<ul>
  <% Genre.all.each do |genre| %>
  <li><a href="genres/<%= genre.name %>.html"><%= genre.name %></a></li>
  <% end %>
</ul>


 <!-- will generate line 5 for every instance of this genre
