<h1>Songs</h1>

<ul>
  <% Song.all.each do |song| %>
  <li><a href="songs/<%= song.name %>.html"><%= song.name %></a></li>
  <% end %>
</ul>


 <!-- will generate line 5 for every instance of this song
